@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Добавление</title>
   
</head>

<body >
    
   

        <form method="post" >
              
            <p>Добавление события </p><br />

            <p1>Название события <span style="display: inline-block; width: 3px;"></span></p1>
            <input type="text" name="name_" /><br /> <br />

            <p1>Время события <span style="display: inline-block; width: 30px;"></span></p1>
            <input type="date" name="date_" /><br /> <br />

            <p1>Дата события <span style="display: inline-block; width: 45px;"></span></p1>
            <input type="time" name="time_" /><br /> <br />

            <input type="submit" value="Сохранить" />
              
        </form>

  
    
</body>

</html>




